/*
!.gitignore
!results/
!terraform/
!terraform/**
!shared/
!shared/**

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/crash.log
terraform/crash.*.log

shared/terraform/.terraform/
shared/terraform/*.tfstate
shared/terraform/*.tfstate.*
shared/terraform/*.tfvars
shared/terraform/*.tfvars.json
shared/terraform/crash.log
shared/terraform/crash.*.log
