REPO_DIR={{ remote.repo_dir | quote }}
LOG_DIR={{ remote.log_dir | quote }}
LOG_FILE={{ (remote.log_dir ~ '/' ~ scenario ~ '.log') | quote }}

PGHOST={{ postgres_host | quote }}
PGPORT={{ postgres_port | quote }}
PGUSER={{ postgres_user | quote }}
PGPASSWORD={{ postgres_password | quote }}
PGDATABASE={{ postgres_database | quote }}
PGSSLMODE={{ pgsslmode | quote }}

SYSTEM_NAME={{ benchmark.system_name | quote }}
INSTANCE_TYPE={{ benchmark.instance_type | quote }}
VCPUS={{ benchmark.vcpus | quote }}
RAM_GB={{ benchmark.ram_gb | quote }}
INSTANCE_STORAGE={{ benchmark.instance_storage | quote }}
PRIMARY_STORAGE={{ benchmark.primary_storage | quote }}
CLUSTER_SIZE={{ benchmark.cluster_size | quote }}
TUNED={{ benchmark.tuned | quote }}
COMMENT={{ benchmark.comment | quote }}

SCALE_FACTOR={{ benchmark.scale_factor | quote }}
CLIENTS={{ benchmark.clients | quote }}
THREADS={{ benchmark.threads | quote }}
DURATION={{ benchmark.duration | quote }}
QUERY_MODE={{ benchmark.query_mode | quote }}
PROGRESS_SECONDS={{ benchmark.progress_seconds | quote }}

OUT_JSON={{ (remote.repo_dir ~ '/' ~ benchmark.out_json) | quote }}
WORKDIR={{ remote.work_dir | quote }}
